.BoxList {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BoxList-div {
  margin-top: 50px;
  margin: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

form label {
    margin: 10px;
}
form input {
    margin: 5px;
}
form button {
    margin: 5px;
}